@import "shared.css";

div.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  margin: 0 auto;

  height: 100%;
  width: calc(min(100%, 900px));
}

div.name {
  font-size: 50pt;
  text-align: center;
}

@media screen and (max-width: 480px) {
  div.name {
    font-size: 34pt;
  }
}

ul.nav {
  font-size: 16pt;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 0;
  padding: 0;
}

.nav li {
  list-style: none;
}

@media screen and (max-width: 350px) {
  .nav li {
    font-size: 12pt;
  }
}

div.art {
  font-family: monospace;

  display: flex;
  flex-direction: column;
  place-items: center;

  margin-top: 2rem;
}

div.art p {
  margin: 0;
  white-space: pre;
}
