@font-face {
  font-family: sans;
  src: url("../fonts/ptsans.woff2");
}

body {
  font-family: sans;
}

div.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  height: 100%;
  width: calc(min(100%, 600px))
}

div.name {
  font-size: 50pt;
  text-align: center;
}

@media screen and (max-width: 480px) {
  div.name {
    font-size: 35pt;
  }
}

ul.links {
  font-size: 16pt;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding: 0;
}

.links li {
  list-style: none;
}

@media screen and (max-width: 350px) {
  .links li {
    font-size: 12pt;
  }
}
