@font-face {
  font-family: sans;
  src: url("../fonts/ptsans.woff2");
}

:root {
  --gray: #454545;
  --lightgray: #959595;
  --lightergray: #e5e5e5;
}

body {
  font-family: sans;
}

a {
  color: var(--gray);
}

a:visited {
  color: var(--lightgray);
}

div.main {
  width: calc(min(100%, 900px));

  margin: 0 auto;
}

div.header {
  font-size: 24pt;
  text-align: center;

  margin: 2rem;
}

@media screen and (max-width: 480px) {
  div.header {
    margin: 1rem;
  }
}
