@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Bold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "PT Sans";
  src: url("/fonts/PTSans-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

:root {
  --gray: #454545;
  --lightgray: #959595;
  --lightergray: #e5e5e5;

  --darkblue: #066f8a;
  --blue: #009dc4;
  --lightblue: #99ebff;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  margin: 0 2rem;

  font-family: "PT Sans";
}

body > .footer {
  padding: 1rem 0;
  width: 100%;

  text-align: center;
  color: var(--lightgray);
  font-size: 10pt;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:visited {
  color: var(--blue);
}

div.main {
  display: flex;
  flex-direction: column;

  width: calc(min(100%, 900px));
  flex-grow: 1;

  margin: 0 auto;
}

div.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  width: 100%;
  margin: 2rem 0;
}

div.header > div.center {
  text-align: center;
}

div.header > div.center > div.title {
  font-size: 28pt;
}

div.header > div.center > div.subtitle {
  font-size: 14pt;
  color: var(--lightgray);
}

code {
  background-color: var(--lightergray);
  padding: 0 0.2em;
  font-size: 1.1em;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  div.header {
    margin: 1rem 0;
  }

  div.header > div.center > div.title {
    font-size: 20pt;
  }

  div.header > div.center > div.subtitle {
    font-size: 12pt;
  }

  div.header > div.nav {
    font-size: 10pt;
  }
}

::selection {
  background: var(--lightblue);
}
::-moz-selection {
  background: var(--lightblue);
}
