@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Bold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-BoldItalic.ttf");
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Italic.ttf");
  font-style: italic;
  font-weight: 400;
}

:root {
  --gray: #454545;
  --lightgray: #959595;
  --lightergray: #e5e5e5;
}

body {
  margin: 0 2rem;
  font-family: "PT Sans";
}

a {
  color: var(--gray);
}

a:visited {
  color: var(--lightgray);
}

div.main {
  width: calc(min(100%, 900px));

  margin: 0 auto;
}

div.header {
  font-size: 24pt;
  text-align: center;

  margin: 2rem;
}

@media screen and (max-width: 480px) {
  div.header {
    margin: 1rem;
  }
}
