@import "shared.css";

div.subheader {
  font-size: 14pt;
  text-align: center;
  color: var(--lightgray);
}

div.section {
  font-size: 16pt;
  font-weight: bold;
}

div.subsection {
  font-size: 14pt;
  padding-left: 1rem;
}

ul.entries {
  display: inline-block;
  width: 100%;

  margin: 0;
  padding: 0;
  list-style: none
}

ul.entries + div.section {
  margin: 1rem 0 0 0;
}

ul.entries > li {
  overflow-x: hidden;
}

ul.entries > li > span {
  background: white;
}

ul.entries > li > span.name {
  float: left;
  padding-left: 2rem;
  padding-right: 0.3rem;
}

ul.entries > li > span.date {
  float: right;
  padding-left: 0.3rem;
  padding-right: 2rem;
}

ul.entries > li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
    "\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0.\00a0\00a0."
  ;
}

ul.entries > li.future {
  color: var(--lightgray);
}

div.text {
  display: flex;
  flex-direction: column;
}

div.text > img {
  outline: 1px solid black;
  margin: 1rem 3rem;
}

@media screen and (max-width: 480px) {
  div.text > img {
    margin: 1rem;
  }
}
